// @import '../font/iconfont.scss';
$primary-color: #50be8d;
$color-75: #757575;
$color-b5: #b5b5b5;
$color-85: #858484;
$title-color: #222222;
$nav-bg-color: rgb(252, 165, 45);
$pink-color: #e40a61;
$price-color: #ffaf52;
$grey-bg-color: #f5f5f5;
$text-dark: #333333;
$color-4b:#50BE8D;
$color-59:#595757;
$color-e60:#e60012;
$color-f7:#f7f7f7;
$color-83:#838383;
$color-cb:#CBCBCB;
$color-eee:#EEE;
$color-de:#dedede;
$color-2e:#50BE8D;

@mixin btnHeight($height: 1.5rem) {
  height: $height;
  line-height: $height;
  text-align: center;
  margin: 0 auto;
}

%borderInput{
  height: 46px;
  border: 2px solid #ddd;
  background: #f5f5f5;
  border-radius: 4px;
  font-size: 16px;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

/* margin-top */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

/* margin-left */
.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

/* margin-right */
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

/* margin-bottom */
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* 水平间距 gaps-horizontal */
.gapsH-5 {
  margin: 0 5px;
}

.gapsH-10 {
  margin: 0 10px;
}

.gapsH-12 {
  margin: 0 12px;
}

.gapsH-15 {
  margin: 0 15px;
}

.gapsH-20 {
  margin: 0 20px;
}

.gapsH-25 {
  margin: 0 25px;
}

.gapsH-30 {
  margin: 0 30px;
}

/* 垂直间距  gaps-vertical */
.gapsV-5 {
  margin: 5px 0;
}

.gapsV-10 {
  margin: 10px 0;
}

.gapsV-12 {
  margin: 12px 0;
}

.gapsV-15 {
  margin: 15px 0;
}

.gapsV-20 {
  margin: 20px 0;
}

.gapsV-25 {
  margin: 25px 0;
}

.gapsV-30 {
  margin: 30px 0;
}

/* 间距 */
.gaps-5 {
  margin: 5px;
}

.gaps-10 {
  margin: 10px;
}

.gaps-12 {
  margin: 12px;
}

.gaps-15 {
  margin: 15px;
}

.gaps-20 {
  margin: 20px;
}

.gaps-25 {
  margin: 25px;
}

.gaps-30 {
  margin: 30px;
}

/* 定位 */
.dom-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.dom-topCenter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto auto auto;
}

.dom-topLeft {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto auto 0;
}

.dom-topRight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 0 auto auto;
}

.dom-bottomCenter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto 0 auto;
}

.dom-bottomLeft {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto 0 0;
}

.dom-bottomRight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0 0 auto;
}

/* font-size */
.fw-550 {
  font-weight: 550;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}
.txt-color-primary{
  color: $primary-color;
}
.txt-color-price{
  color: $price-color;
}
.txt-underline{
  text-decoration: underline;
}
/* 省略号隐藏 */
.ell-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ell-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ell-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ell-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ell-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:export {
  primary-color: $primary-color;
}

.cursor {
  cursor: pointer;
}